<a href="#items/{{objectId}}" class="category-item-link">
  <div class="category-item-text">
    <h3 class="category-item-title">{{number}}. {{name}}</h3>
    <p class="category-item-description">
      {{description}}
    </p>
  </div>
  <button class="category-item-button-price button-primary">${{priceFixed price}}
  </button>
</a>
